body {
    font-family: Arial, sans-serif;
    background-color: #1d1d23;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #e3b40a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
  color:rebeccapurple;
}

ul {
    list-style-type: none;
}


li {
    color:aliceblue;
    margin: 5px 0;
    text-align: center;
    font-weight: bolder;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cajita {
  background-color: goldenrod;
  border-radius: 30px;
  width:400px;
  height: 300px;
  padding-top: 30px;
  padding-right: 50px;
}
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
